.iframeWrap {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
}

iframe {
    position: absolute;
    display: block;
    border: 0;
    height: 100%;
    width: 100%;
    z-index: 100000;
}

/* WP8 */
body {
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    overflow: hidden;
    -ms-content-zooming: none;
    -ms-touch-action:none;
}